haeder
    nav.navbar.navbar-default
        .navbar-header
            a.navbar-brand Recruitment
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') Username
                        b.caret
                    ul.dropdown-menu
                        li
                            a 个人资料
                        li.divider
                        li
                            a 退出登录