.resumes
    table#resumeTable.table.table-striped.table-hover
        thead
            tr
                th #
                th 简历名称
                th 申请岗位
                th.hidden-xxs 工作类型
                th.hidden-xs 期望薪资
                th.hidden-xs 更新日期
                th 操作
        tbody
